# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
/.gradle/
/my.schema.json
/pubspec.lock
/graphql/
/.metadata
/library/widget_package/.metadata
/dependencies/widget_package/pubspec.lock
/lib/amplifyconfiguration.dart

!.idea/
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/libraries/
/android/.idea/libraries/Gradle__androidx_activity_activity_1_0_0_aar.xml
/android/.idea/caches/build_file_checksums.ser
/android/.idea/gradle.xml
/android/.idea/libraries/Gradle_______build_app_intermediates_flutter_debug_libs_jar.xml
/android/.idea/libraries/Gradle__androidx_annotation_annotation_1_1_0_jar.xml
/android/.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0_jar.xml
/android/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_0_0_aar.xml
/android/.idea/libraries/Gradle__androidx_collection_collection_1_1_0_jar.xml
/android/.idea/libraries/Gradle__androidx_core_core_1_1_0_aar.xml
/android/.idea/libraries/Gradle__androidx_customview_customview_1_0_0_aar.xml
/android/.idea/libraries/Gradle__androidx_fragment_fragment_1_1_0_aar.xml
/android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_2_0_jar.xml
/android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_java8_2_2_0_jar.xml
/android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_0_0_aar.xml
/android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_0_0_aar.xml
/android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_2_0_aar.xml
/android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_1_0_aar.xml
/android/.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
/android/.idea/libraries/Gradle__androidx_savedstate_savedstate_1_0_0_aar.xml
/android/.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_0_aar.xml
/android/.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
/android/.idea/libraries/Gradle__io_flutter_arm64_v8a_debug_1_0_0_99c2b3a2455511c3fd37521d9b00972c5345b75b_jar.xml
/android/.idea/libraries/Gradle__io_flutter_armeabi_v7a_debug_1_0_0_99c2b3a2455511c3fd37521d9b00972c5345b75b_jar.xml
/android/.idea/libraries/Gradle__io_flutter_flutter_embedding_debug_1_0_0_99c2b3a2455511c3fd37521d9b00972c5345b75b_jar.xml
/android/.idea/libraries/Gradle__io_flutter_x86_64_debug_1_0_0_99c2b3a2455511c3fd37521d9b00972c5345b75b_jar.xml
/android/.idea/libraries/Gradle__io_flutter_x86_debug_1_0_0_99c2b3a2455511c3fd37521d9b00972c5345b75b_jar.xml
/android/.idea/libraries/Gradle__junit_junit_4_12_jar.xml
/android/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3_jar.xml
/android/.idea/libraries/Gradle__org_jetbrains_annotations_13_0_jar.xml
/android/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_3_50_jar.xml
/android/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_3_50_jar.xml
/android/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_3_50_jar.xml
/android/.idea/jarRepositories.xml
/android/.idea/misc.xml
/android/.idea/modules.xml
/android/.idea/codeStyles/Project.xml
/android/.idea/runConfigurations.xml
/android/.idea/vcs.xml
/android/.idea/workspace.xml
/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
/local.properties
/ios/Podfile.lock
/lib/generated/

/.idea/codeStyles/Project.xml
/.idea/workspace.xml
/ios/Runner/GoogleService-Info.plist
/ios/build/XCBuildData/
/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/android/app/google-services.json
/.idea/shelf/
/android/.idea/compiler.xml
/.fvm/
/android/.idea/libraries/
